<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Write Your New Blog</h1>
    <form action="http://localhost:8080/blog" method="post">
        <div class="parent-new">
            <div class="new">
                <h3><input type="text" name="name" placeholder="Name:" style="background-color: #CFFFB3;"></h3>
                <hr>
                <p><textarea name="content" id="" cols="30" rows="10" placeholder="Write Your Blog Here!"></textarea>
                </p>
                <a href="http://localhost:8080/blog">Back</a>
                <button>Submit</button>
            </div>
    </form>

    </div>
</body>

</html>